body {
 margin: 0px 0px 0px 0px;
 font-family: monospace;
 font-size: 14px;
}

.navbar {
  overflow: hidden;
  width: 100%;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

.navbar li {
  list-style: none;
  display: inline;
  float:right;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
      background-color: #FFFF99;
}

#lang {
  font-weight:bold;
  color:rebeccapurple;
  text-shadow: 1px 1px 1px #CDC0B0  ;
}

.active {
  background-color: #CCFFCC;
  font-weight: bold;
}

footer {
  position: fixed;
  width: 100%;
  background-color: #CDC0B0;
  left: 0;
  bottom: 0;
}

.footer-content {
  display: block;
  padding: 12px 16px;
  color: black;
  font-size: 12px;
  text-align: center;


}
